@model List<ReceiptViewModel>
<style>
    .modal-custom {
        max-width: 1000px; /* Adjust width as needed */
    }
</style>
<form asp-action="ExportCashSummary" asp-controller="ReceiptTransaction" asp-area="Staff" method="post">
    @if (Model != null)
    {
        @for (int i = 0; i < Model.Count; i++)
        {
            var items = Model[i];
            <input type="hidden" name="Results[@i].TestGroupDept" value="@items.TestGroupDept" />
            @if (items.Receipts != null)
            {
                @foreach (var item in items.Receipts)
                {
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].ReceiptNo" value="@item.ReceiptNo" />
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].PayType" value="@item.PayType" />
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].PatientName" value="@item.PatientName" />
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].TotalAmount" value="@item.TotalAmount" />
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].DoctorName" value="@item.DoctorName" />
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].CreatedDate" value="@item.CreatedDate" />
                    <!-- Add more hidden inputs as needed for other properties -->
                    <!-- Dropdown Actions (assuming you're only capturing ReceiptNo for dropdown actions) -->
                    <input type="hidden" name="Results[@i].Receipts[@items.Receipts.IndexOf(item)].ActionReceiptNo" value="@item.ReceiptNo" />
                }
            }
          

            <!-- Total Amount -->
            <input type="hidden" name="Results[@i].ReceiptTotal" value="@items.ReceiptTotal" />
        }
    }

    <button type="submit"  class="btn btn-primary">Export to Excel</button>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table custom-table ">
                <thead>
                    <tr>
                        <th>Receipt No</th>
                        <th>PayType</th>
                        <th>PatientName</th>
                        <th> Amount</th>
                        <th>Doctor Name</th>
                        <th>Date</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach(var items in Model)
                        {
                            <tr>
                                <td colspan="9" style="text-align:center;font-weight: bold; background-color: #f2f2f2;"><b>@items.TestGroupDept</b> </td>
                            </tr>
                            if (items.Receipts != null)
                            {
                                @foreach (var item in items.Receipts)
                                {
                                    <tr>
                                        <td>@item.ReceiptNo  </td>
                                        <td>@item.PayType  </td>

                                        <td>@item.PatientName </td>

                                        <td>@item.TotalAmount </td>
                                        <td>@item.DoctorName  </td>

                                        <td>
                                            @if (item.CreatedDate != null)
                                            {
                                                @item.CreatedDate.Value.ToShortDateString()
                                            }
                                        </td>


                                        <td class="text-right">
                                            <button class="btn btn-primary btn-sm rounded-0 btnView" type="button" data-id="@item.ReceiptNo" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-table"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                         
                            <tr>
                                <td colspan="3" style="text-align:center;font-weight: bold;"><b>--TOTAL AMOUNT--</b> </td>
                                <td colspan="5" style="font-weight: bold;">@items.ReceiptTotal</td>
                            </tr>
                            
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

