
@model ReceiptViewModel

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 m-b-20">
            <div class="invoices-details">
                <ul class="list-unstyled">
                    <li><strong>Patient name:</strong> <span>@Model.PatientName</span></li>
                    <li><strong>Address:</strong> <span>@Model.Address</span></li>
                    <li><strong>Age </strong><span>@Model.Age</span></li>
                    <li><strong>Consultant Dr.:</strong> <span>@Model.DoctorName</span></li>
                </ul>
            </div>
                            </div>
                            <div class="col-6 col-sm-6 m-b-20">
                                <div class="invoice-details">
                                    <h3 class="text-uppercase">ReceiptNo #@Model.ReceiptNo</h3>
                                    <ul class="list-unstyled">
                    <li>Date: <span>@if (@Model.CreatedDate != null)
                            {
                                @Model.CreatedDate.Value.ToShortDateString()
                            }
                            </span></li>
                    <li>Hospital</li>
                    <li>Bharatpur-12,Chitwan</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" >
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ITEM</th>
                                        <th>DESCRIPTION</th>
                                        <th>UNIT COST</th>
                                        <th>QUANTITY</th>
                                        <th>TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.ReceiptDetails)
                                    {
                                        <tr>
                                            <td>1</td>
                                            <td>@item.TestGroup</td>
                                            <td>@item.TestName</td>
                                            <td>@item.TestPrice</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Amount</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="row invoice-payment">
                                <div class="col-sm-7">
                                </div>
                                <div class="col-sm-5">
                                    <div class="m-b-20">
                                        <h6>Total Amount</h6>
                                        <div class="table-responsive no-border">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th>Subtotal:</th>
                                                        <td class="text-right">@Model.TotalAmount</td>
                                                    </tr>
@*                                                     <tr>
                                                        <th>Discount: <span class="text-regular">(0%)</span></th>
                                                        <td class="text-right"></td>
                                                    </tr> *@
@*                                                     <tr>
                                                        <th>Total:</th>
                                                        <td class="text-right text-primary">
                                                            <h5>@Model.TotalAmount</h5>
                                                        </td>
                                                    </tr> *@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>

@section Scripts {

}