@model OPDBookingViewModel
@inject CommonUtility utils


<div class="page-wrapper">
  
    <div class="content">
        @if (@TempData["PaymentMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["PaymentMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">OPD Booking Card</h4>
            </div>
            <div class="col-sm-7 col-6">
                <button type="button" class="btn btn-outline-dark DownloadOpdCard"><i class="fa fa-download fa-lg">&nbsp;</i>Download Pdf</button>
            </div>
        </div>
        <div class="card-box profile-header" id="OnlineOpdCard">
            <h3>@Model.Opdqueue</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <h4>UHID: @Model.Uhid</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title ">PatientName:</span>
                                        @Model.FirstName @Model.LastName
                                    </li>
                                    <li>
                                        <span class="title">Age:</span>@Model.Age  @Model.AgeType

                                    </li>

                                    <li>
                                        <span class="title">Gender:</span>@Model.Gender
                                    </li>
                                    <li>
                                        <span class="title">Address:</span>@Model.Address
                                    </li>
                                    <li>
                                        <span class="title">ContactNo:</span>@Model.Contactno
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-6">

                                <ul class="personal-info">
                                    <li>
                                        <span class="title"> Date:</span>@Model.CreatedDate.Value.ToShortDateString()
                                    </li>
                                    <li>
                                        <span class="title">Department:</span>
                                        @utils.GetDepartmentName(Convert.ToInt32(Model.Department))
                                    </li>
                                    <li>
                                        <span class="title">Consultant Dr:</span>@utils.GetDoctorName(Convert.ToInt32(Model.ConsultantDr))
                                    </li>

                                    <li>
                                        <span class="title">RoomNo:</span>@Model.RoomNo - @Model.FloorName
                                    </li>
                                </ul>
                                SrNo-@Model.OpdbookingId, USER- ONLINEBOOKING RefId-@Model.refid
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
@section Scripts{
    <script>
        $(document).on('click', '.DownloadOpdCard', function () {


            var divContents = document.getElementById("OnlineOpdCard");
            var opt = {
                margin: [2, 0.8, 0.8, 0.8], // 20px top, right, bottom, left (converted to inches: 20px = 0.8 inches)
                filename: 'OPDCard.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().from(divContents).set(opt).save();

        })
    </script>
}