
@model IPDViewModel
@inject CommonUtility utils
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-basic">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-info-left">

                            <div class="title">
                                <strong>IPDRegNo : </strong>

                                @Model.IpdregNo
                            </div>
                            <div class="staff-id">
                                <strong>Patient Name : </strong>
                                @Model.PatientName
                            </div>
                            <div class="staff-id"><strong>Age :</strong> @Model.Age @Model.AgeType</div>
                            <div class="staff-id"> <strong>ContactNo : </strong>@Model.Contactno</div>
                <div class="staff-id">
                                <strong>Address : </strong> @Model.Address
                            </div>
                            <div class="staff-id"><strong>Guardian : </strong> @Model.Gname</div>
                            <div class="staff-id"><strong>Guardian Ph : </strong> @Model.Gcontact</div>

                            <div class="staff-id"><strong>Relation : </strong> @Model.Grelation</div>

                        
                    </div>

                    </div>

                    <div class="col-md-6">
                        <div class="personal-info">
                            <div class="staff-id">
                                <strong>Admitted Date : </strong> @if (Model.CreatedDate != null)
                    {
                        @Model.CreatedDate.Value.ToShortDateString()
                    }
                </div>
                            <div class="staff-id">
                                <strong>Case Type : </strong>@utils.GetCaseTypeName(@Model.CaseType)
                            </div>
                <div class="staff-id">
                                <strong>Ward/Bed : </strong> @utils.GetBedTypeName(Model.BedType)/ @Model.IPDBedName
                </div>
                            <div class="staff-id"><strong>Consultant Dr. : </strong> @Model.DoctorName</div>
                            <div class="staff-id">
                                <strong>Discharge Date : </strong> @if (Model.DischargeDate != null)
                                {
                                @Model.DischargeDate.Value.ToShortDateString()
                            }</div>

                            <div class="staff-id"><strong>Complain : </strong>@Model.Complain</div>
</div>
                       
                    </div>


                </div>
           </div>

        </div>
    </div>
    </div>