@model IPDViewModel
@inject CommonUtility utils
@{
    var date = utils.GetTodayDate();

}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="IPDRegistration" asp-controller="IPDTransaction" asp-area="Staff" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="card-box">
                        <b><h4 class="card-title" style="text-align:center">IPD Registration Form</h4></b>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">UHID:</label>
                                    <div class="col-md-3">
                                        <input asp-for="Uhid" type="number" class="form-control form-control-sm Uhid" onkeydown="HandleUhidKeyEvent(event)">
                                        <span asp-validation-for="Uhid" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="CreatedDate" type="datetime" class="form-control form-control-sm" value="@date.ToShortDateString()" readonly>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">Name </label>
                                    <div class="col-md-5">
                                        <input asp-for="FirstName" type="text" id="firstName" class="form-control form-control-sm FirstName" placeholder="FirstName">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="LastName" type=" text" id="lastName" class="form-control form-control-sm LastName" placeholder="LastName">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">Address</label>
                                    <div class="col-md-5">
                                        <input asp-for="Address" type="text" class="form-control form-control-sm Address">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <select asp-for="District" asp-items="@utils.GetDistricts()" class="form-control form-control-sm District">
                                            <option disabled selected>Select Districts</option>

                                        </select>
                                        <span asp-validation-for="District" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">OPD No:</label>
                                    <div class="col-md-2">
                                        <input asp-for="OpdSrNo" type="text" class="form-control form-control-sm" onkeydown="HandleOPDKeyEvent(event)" />
                                        <span asp-validation-for="OpdSrNo" class="text-danger"></span>
                                    </div>
                                    <label class="col-md-2 col-form-label col-form-label-sm">IPD Reg:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control form-control-sm" value="@utils.GetIPDRegNo()" readonly />
                                    </div>
                                    <label class="col-md-2 col-form-label col-form-label-sm">Counter:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">Pay Type:</label>
                                    <div class="col-md-3">
                                        <select class="form-control form-control-sm"  asp-for="PayType">
                                            <option value="cash">Cash</option>
                                            <option value="insurance">Insurance</option>
                                            </select>
                                    </div>
                                    <label class="col-md-3 col-form-label col-form-label-sm">Admission Charge:</label>
                                    <div class="col-md-3">
                                        <input type="text" asp-for="AdmCharge" class="form-control form-control-sm" />
                                        <span asp-validation-for="AdmCharge" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label col-form-label-sm">Case Type:</label>
                                    <div class="col-md-8">
                                        <select asp-for="CaseType" asp-items="@utils.GetCaseType()"  class="form-control form-control-sm">
                                            </select>
                                        <span asp-validation-for="CaseType" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-md-6">
                               
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">Contact No:</label>
                                    <div class="col-md-9">
                                        <input asp-for="Contactno" type="number" class="form-control form-control-sm Contactno">
                                        <span asp-validation-for="Contactno" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">DOB:</label>
                                    <div class="col-md-4">
                                        <input asp-for="Dob" type="date"  class="form-control form-control-sm DOB " onchange="ShowAge(this)">
                                        <span asp-validation-for="Dob" class="text-danger"></span>
                                    </div>

                                    <label class="col-md-1 col-form-label col-form-label-sm">Age:</label>
                                    <div class="col-md-2">
                                        <input asp-for="Age" type="text" id="AgeInput" class="form-control form-control-sm Age" onchange="calculateBirthDate(this)">
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <select asp-for="AgeType" id="AgeTypeInput" class="form-control form-control-sm AgeType" onchange="calculateBirthDate(this)">
                                            <option value="years">Years</option>
                                            <option value="months">Months</option>
                                            <option value="days">Days</option>
                                        </select>
                                        <span asp-validation-for="AgeType" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-2 col-form-label col-form-label-sm">Gender:</label>
                                    <div class="col-lg-3">
                                        <select asp-for="Gender" id="Gender" class="form-control form-control-sm Gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <label class="col-lg-2 col-form-label col-form-label-sm">Religion:</label>
                                    <div class="col-lg-5">
                                        <select asp-for="Religion" asp-items="@utils.GetReligions()" class="form-control form-control-sm">
                                            <option disabled selected>Select Religion</option>

                                        </select>
                                        <span asp-validation-for="Religion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">Guardian Name:</label>
                                    <div class="col-md-9">
                                        <input asp-for="Gname" type="text" class="form-control form-control-sm">
                                        <span asp-validation-for="Gname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm">Guardian Contact:</label>
                                    <div class="col-md-5">
                                        <input type="text" asp-for=Gcontact class="form-control form-control-sm">
                                        <span asp-validation-for="Gcontact" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3">
                                        <select  asp-for="Grelation" class="form-control form-control-sm">
                                            <option disabled selected>Relation</option>
                                            <option>W/F</option>
                                            <option>C/0</option>
                                            </select>
                                        <span asp-validation-for="Grelation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md 6">

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label col-form-label-sm">Consultant Dr.</label>
                                    <div class="col-md-8">
                                        <select asp-for="ConsultantDr" asp-items="@utils.GetDoctors()" class="form-control form-control-sm ConsultantDr" id="Doctors">
                                        </select>
                                        <span asp-validation-for="ConsultantDr" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label col-form-label-sm">Bed Type:</label>
                                    <div class="col-md-4">
                                        <select class="form-control form-control-sm" asp-items="@utils.GetBedCategory()" asp-for="IPDBedTypeId" onchange="HandleBedCategoryChange(this)" >
                                           <option disabled selected>-</option>
                                        </select>
                                        <span asp-validation-for="IPDBedTypeId" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control form-control-sm BedName"  asp-for="BedNo">
                                            </select>
                                        <span asp-validation-for="BedNo" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label col-form-label-sm">Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" asp-for="IPDBedPrice" class="form-control form-control-sm" id="BedPrice" readonly/>
                                        <span asp-validation-for="CaseType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label col-form-label-sm">Complain:</label>

                                    <div class="col-md-6">
                                        <input asp-for="Complain" type="text" class="form-control form-control-sm" />
                                        <span asp-validation-for="Complain" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label col-form-label-sm">Diagnosis:</label>
                                    <div class="col-md-7">
                                        <input asp-for="Diagnosis" class="form-control form-control-sm" />
                                        <span asp-validation-for="Diagnosis" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="hidden" asp-for="CreatedByUser" value="@User.Identity.Name"/>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            // Check if alert message exists
            if ('@TempData["IPDMsge"]' !== '') {
                // Display SweetAlert
                Swal.fire({
                    title: '@TempData["IPDMsge"]',
                    showCancelButton: true,
                    confirmButtonText: 'OK',
                    CancelButtonText: 'Cancel',
                });
            }
        });
        function HandleUhidKeyEvent(e) {
            if (event.key === "Enter" || event.keyCode === 13) {
                event.preventDefault();
                var uhid = $(e.target).val();
                $.ajax({
                    url: "@Url.Action("GetPatientInfoByUhid", "IPDTransaction")",
                    method: "GET",
                    data: { uhid: uhid },
                    success: function (result) {
                        $(".FirstName").val(result.firstName);
                        $(".LastName").val(result.lastName);
                        $(".Address").val(result.address);
                        $(".DOB").val(result.dob);
                        $(".Age").val(result.age);
                        $(".AgeType").val(result.ageType);
                        $(".Contactno").val(result.contactno);
                        $(".Gender").val(result.gender);
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }

        }
        function HandleOPDKeyEvent(e) {
            if (event.key === "Enter" || event.keyCode === 13) {
                event.preventDefault();
                var opd = $(e.target).val();
                $.ajax({
                    url: "@Url.Action("GetPatientInfoByOPD", "IPDTransaction")",
                    method: "GET",
                    data: { opd: opd },
                    success: function (result) {
                        $(".FirstName").val(result.firstName);
                        $(".LastName").val(result.lastName);
                        $(".Address").val(result.address);
                        $(".District").append("<option selected value='" + result.district + "'>" + result.district + "</option>");
                        $(".Age").val(result.age);
                        $(".AgeType").val(result.ageType);
                        $(".DOB").val(result.dob);
                        $(".Gender").val(result.gender);
                        $(".ConsultantDr").append("<option selected value='" + result.consultantDr + "'>" + result.doctorName + "</option>");
                        $(".Uhid").val(result.uhid);
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }

        }
        function HandleBedCategoryChange(e) {
            var bedCat = $(e).val();
            $.ajax({
                url: "@Url.Action("GetBedValues", "IPDTransaction")",
                method: "Get",
                data: { BedTypeId: bedCat },
                success: function (result) {
                    $(".BedName").empty();
                    $("#BedPrice").val("");
                    $.each(result, function (index, row) {
                        $("#BedPrice").val(row.ipdBedPrice);
                        $(".BedName").append("<option value='" + row.bedNo + "'>" + row.ipdBedName + "</option>");

                    });
                },
                error: function () {
                    alert('failed');
                },
            });
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}