@model IEnumerable<PathologyViewModel>

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Lab Records</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <h4 class="card-title">Patient List</h4>
                <div class="table-responsive">
                    <table class="table custom-table" id="LabRecordsDataTable">
                    <thead>
                        <tr>
                            <th>LabNo</th>
                            <th>Uhid</th>
                            <th>Patient Name</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.LabNo </td>
                                <td>@item.Uhid</td>
                                <td>
                                   @item.PatientName
                                </td>
                                <td>
                                        <button class="btn btn-primary btn-sm rounded-0 btnLabRecordShow" type="button" data-labno="@item.LabNo" data-uhid="@item.Uhid" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-table"></i></button>
                                        <button class="btn btn-success btn-sm rounded-0 btnLabRecordEdit " type="button" data-labno="@item.LabNo" data-uhid="@item.Uhid" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
                

            </div>
            <div class="col-md-6" style="display:none;" id="LabRecordEdit">
                <form asp-action="EditResultEntry" asp-controller="Pathology" asp-area="Staff" method="post">

                    <div class="card-box">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-4 d-flex align-items-center ">
                                        <label class="col-form-label me-3">LabNo:</label>
                                        <input type="number" id="LabNo" name="LabNo" class="form-control LabNo" style="border:none; background-color: transparent" placeholder="LABNO" readonly>
                                    </div>
                                    <div class="col-md-4 d-flex align-items-center ">
                                        <label class="col-form-label me-3">Uhid:</label>
                                        <input type="text" class="form-control Uhid" style="border:none; background-color: transparent" placeholder="UHID" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 d-flex align-items-center">
                                        <label class="col-form-label me-2">Name:</label>
                                        <input type="text" class="form-control PatientName" style="border:none; background-color: transparent" placeholder="PatientName" readonly>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center">
                                        <label class="col-form-label me-2">Age/Sex:</label>
                                        <input type="text" class="form-control AgeSex" style="border:none; background-color: transparent" readonly />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table class="table-responsive">
                                <thead>
                                    <tr>

                                        <td>
                                            Test Description
                                        </td>
                                        <td>Normal Range</td>
                                        <td>Unit</td>
                                        <td>Result</td>
                                    </tr>
                                </thead>
                                <tbody class="TestBody">
                                </tbody>
                           
                        </table>

                        <div class="text-right">
                            
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary CloseEditSection">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="LabRecordModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-custom" role="document" style="max-width: 45%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn btn-outline-dark DownloadResult"><i class="fa fa-download fa-lg">&nbsp;</i>Download Pdf</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-outline-dark" onclick="PrintResult('LabResultBody')"><i class="fa fa-print fa-lg">&nbsp;</i>Print</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="LabResultBody">
                <!-- Partial view content will be loaded here -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#LabRecordsDataTable').DataTable({
                    searching: true // Ensure searching is enabled
                });
            if ('@TempData["SuccessMessage"]' !== '') {
                // Display SweetAlert
                Swal.fire({
                    icon: "success",
                    title: "@TempData["SuccessMessage"]",
                    showConfirmButton: false,
                    timer: 1500
                });
            }
            if ('@TempData["FailedMessage"]' !== '') {
                // Display SweetAlert
                Swal.fire({
                    icon: "error",
                    title: "Oops",
                    text: '@TempData["FailedMessage"]',
                });
            }
         
            $(document).on('click', '.DownloadResult',function(){


                var divContents = document.getElementById("LabResultBody");
                var opt = {
                    margin: [1.5, 0.8, 0.8, 0.8], // 20px top, right, bottom, left (converted to inches: 20px = 0.8 inches)
                    filename: 'LabResult.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
                };
                html2pdf().from(divContents).set(opt).save();
                
            })
            $(document).on('click', '.btnLabRecordShow', function () {
                var LabNo = $(this).data('labno');
                var Uhid = $(this).data('uhid');
                $.ajax({
                    url: "@Url.Action("PatientLabRecord", "Pathology")",
                    type: "GET",
                    data: { LabNo: LabNo, Uhid: Uhid },
                  
                    success: function (data) {
                        $(".modal-body").html(data); // Corrected typo in 'html' method
                        $("#LabRecordModal").modal('show');
                        $('.modal-backdrop').css('background', '#00000073');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $(document).on('click', '.CloseEditSection',function(){
                $('#LabRecordEdit').css('display', 'none');
            })
            $(document).on('click', '.btnLabRecordEdit', function () {
                var LabNo = $(this).data('labno');
                var Uhid = $(this).data('uhid');
                var tableBody = $('.TestBody');
                $.ajax({
                    url: "@Url.Action("LabRecordInfo", "Pathology")",
                    type: "GET",
                    data: { LabNo: LabNo, Uhid: Uhid },
                    success: function (data) {
                        
                        tableBody.empty();
                        $(".Uhid").val(data.uhid);
                        $(".PatientName").val(data.patientName);
                        $(".LabNo").val(data.labNo);
                        $(".AgeSex").val(data.age + "/" + data.gender);
                      
                        $.each(data.testList, function (testIndex, items) {
                            var rows = '<tr><td colspan=5>' + items.testName +
                                '</td></tr>';
                            tableBody.append(rows);
                            $.each(items.testParameterList, function (paramIndex, item) {
                                var row = '<tr>' +
                                    '<td>' + item.parameterName +
                                    '<input type="hidden" name="TestList[' + testIndex + '].TestParameterList[' + paramIndex + '].ParameterName" value="' + item.parameterName + '" /></td>' +
                                    '<td>' + item.range +
                                    '<input type="hidden" name="TestList[' + testIndex + '].TestParameterList[' + paramIndex + '].Range" value="' + item.range + '" /></td>' +
                                    '<td>' + item.unit +
                                    '<input type="hidden" name="TestList[' + testIndex + '].TestParameterList[' + paramIndex + '].Unit" value="' + item.unit + '" /></td>' +
                                    '<td>' + 
                                    '<input type="text" name="TestList[' + testIndex + '].TestParameterList[' + paramIndex + '].ParamResult" value="'+item.paramResult+'" required/></td>' + '" /></td>' +
                                    '<input type="hidden" name="TestList[' + testIndex + '].TestParameterList[' + paramIndex + '].TestId" value="' + item.testId + '"/>' +
                                    '<input type="hidden" name="TestList[' + testIndex + '].TestParameterList[' + paramIndex + '].TestName" value="' + item.testName + '"/>'
                                '</tr>';
                                tableBody.append(row);
                            });
                        });

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                $('#LabRecordEdit').css('display', 'block');

            });
          
            $(".close").click(function () {
                $("#myModal").modal('hide');
            });
        });
    </script>
}
